apiVersion: apps/v1
kind: Deployment
metadata:
  name: verifiko
  labels:
    app: verifiko
spec:
  replicas: 3 #add 3 for main server, for dev only like 1
  selector:
    matchLabels:
      app: verifiko
  template:
    metadata:
      labels:
        app: verifiko
    spec:
      automountServiceAccountToken: false #Look more into this before spinning up cluster

      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

      volumes:
        - name: tmp
          emptyDir: {}

      containers:
        - name: verifiko-container
          image: ashutoshkuinkel/verifiko:9f666a3 #This is static, later when deploying to k8s I need to make sure i have this set to a dynamic variable and use SHORT_SHA in cd file...

          securityContext:
            runAsUser: 1000
            runAsGroup: 3000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          volumeMounts:
            - name: tmp
              mountPath: /tmp

          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "500m"
              memory: "1Gi"
              ephemeral-storage: "2Gi"
