# https://subbaramireddyk.medium.com/kustomize-kubernetes-native-configuration-management-f51630d29ac0

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
